<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Travel Today</title>
    <script src="main.js" type="text/javascript"></script>
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@900&family=Satisfy&display=swap" rel="stylesheet">
  </head>

  <body class="d-flex h-100 text-center text-white bg-dark">
    
    <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
      <header>
         <div class="mx-auto">
            <h2 class="float-md-start mb-0">Travel Today</h2>
            <nav class="nav nav-masthead justify-content-center float-md-end">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
              <a class="nav-link" href="#">Features</a>
              <a class="nav-link" href="#">Contact</a>
            </nav>
         </div>
      </header>

      <main class="px-3">
         <h1>Start your journey.</h1>
         <section>
            <div class ="destination">
                <textarea class= "myInput" id="mytext" placeholder="From here" rows="2" cols="40"></textarea>
                <textarea class= "myInput" id="destination" placeholder="Enter your destination here" rows="2" cols="40"></textarea>
             </div>
         </section>

        <section class="date">
            <p>My Depart Date</p>
            <input class= "mydate" id="my-depart-date" placeholder="Depart date" type="date" ></input>
            <p>My Return Date</p>
            <input class= "mydate" id="my-return-date" placeholder="Return date" type="date"></input>
        </section>

         <p class="lead">Search for the flights to any airport anywhere in the world.</p>
         <p class="lead">
           <a href="#" id="search" class="btn btn-lg btn-secondary fw-bold border-white bg-white">Search</a>
         </p>

         <div class="response">
          <div id="plan" class="plan"></div>
          <div class="res" id="change-colour">
             <img id="image" class="img" width=380px heigh=380px>
             <div id="res"></div>
             <div id="countdown" class="countdown"></div>
             <div class="weather">
                <div id="temperature" class="tem"></div>
                <div id="wind" class="wind"></div>
                <div id="cloud" class="cloud"></div>
             </div>
             <div id="triplast" class="trip"></div>
          </div>
         </div>
      </main>

      <footer class="footer text-white-50">
         <p>@Copyright 2021 Travel Today. All Rights Reserved.</p>
      </footer>
    </div>
    <script>
      if ('serviceWorker' in navigator) {
          window.addEventListener('load', () => {
              navigator.serviceWorker.register('service-worker.js').then(function(registration) {
      // Registration was successful
      console.log('ServiceWorker registration successful with scope: ', registration.scope);
    }, function(err) {
      // registration failed :(
      console.log('ServiceWorker registration failed: ', err);
    });
          });
      }
     </script>
    
  </body>
</html>
